<!DOCTYPE html>
<html>
<head>
    <title>Compliment</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="compliment-container">
        <h1><%= compliment %></h1>
        <a href="/">Try Again</a>

    </div>
    <script src="/compliments.js"></script>
</body>
</html>
